#### DEVELOPMENT ####
APACHE_PORT_EXPOSED=80
PHPMYADMIN_PORT_EXPOSED=8080

#### PHP ####
PHP_VERSION=8.1

#### NGROK ####
NGROK_PATH=ngrok

#### MYSQL ####
DB_HOST=db
DB_PORT=3306
DB_ROOTPASS=dbpwdroot
DB_USER=dbuser
DB_PASS=dbpwd
DB_NAME=dbname


CACHE_ACTIVE=true
CACHE_LIFETIME=10000000

ACTIVATION_TOKEN_EXPIRATION_TIME=15778476000
PASSWORD_EXPIRATION_TIME=15778476000
PASSWORD_TOKEN_EXPIRATION_TIME=15778476000
EMAIL_TOKEN_EXPIRATION_TIME=15778476000

WKHTMLTOPDF_PATH=/usr/bin/wkhtmltopdf

#### APPLICATION ###
DEV_MODE=false
APP_MODE=local