<!----------------------------------BEGIN PICKER JS------------------------------------------------------>
<script src="../assets/plugins/pickadate/picker.js"></script>
<script src="../assets/plugins/pickadate/picker.date.js"></script>
<script src="../assets/plugins/pickadate/picker.time.js"></script>
<!----------------------------------END PICKER JS------------------------------------------------------>


<!----------------------------------BEGIN DATETIMEPICKER JS------------------------------------------------------>
<script src="../assets/plugins/datetimepicker/jquery.datetimepicker.js"></script>
<!--<script src="/assets/plugins/datetimepicker/locales/bootstrap-datetimepicker.it.js"></script>-->
<script src="../assets/plugins/bootstrap-switch/bootstrap-switch.js"></script>
<!----------------------------------END DATETIMPICKER JS------------------------------------------------------>


<!----------------------------------BEGIN DATEPICKER JS------------------------------------------------------>
<style>
	.datepicker{
		padding:8px 12px !important;	
	}
</style>
<script src="../assets/plugins/bootstrap-datepicker/bootstrap-datepicker.js"></script>
<script src="../assets/plugins/bootstrap-datepicker/locales/bootstrap-datepicker.it.js"></script>
<!----------------------------------END DATEPICKER JS------------------------------------------------------>


<!----------------------------------BEGIN TEXTAREA JS------------------------------------------------------>
<script type="text/javascript" src="../assets/plugins/tinymce/js/tinymce/tinymce.min.js"></script>
<script src="../assets/plugins/cke-editor/ckeditor.js"></script>
<script src="../assets/plugins/cke-editor/adapters/jquery.js"></script>
<!----------------------------------END TEXTAREA JS------------------------------------------------------>


<!---------------------------------BEGIN UPLOAD SINGLE IMAGE-------------------------------------------------->
<script src="../assets/plugins/upload-image-cironapo/cironapo.js"></script>
<!---------------------------------END UPLOAD SINGLE IMAGE-------------------------------------------------->


<!---------------------------------BEGIN DROPZONE-------------------------------------------------->
<script src="../assets/plugins/dropzone/dist/dropzone.js"></script>


<!---------------------------------BEGIN JQUERY UI-------------------------------------------------->
<script src="../assets/plugins/jquery-ui/jquery-ui-1.10.4.min.js"></script>


<script src="assets/js/js_form.js"></script>