<?xml version="1.0"?>
<module>
	<info> 
		<author>Ciro Napolitano</author>
		<name>Widget Html no editor</name>
		<permission>superadmin</permission>
		<tag>widget_html_no_editor</tag>
		<kind>cms</kind>
		<version>2.0.2</version>
		<compatibility>
			<min>2.0.0</min>
		</compatibility>
		<scope></scope> 
		<description><![CDATA[Modulo che permette di visualizzare un widget html privo di editor]]></description> 
   </info>
   <widgets>
		<widget> 
			<name>Box Html no editor</name>
			<function>WidgetHtmlNoEditorComponent</function>
			<repeatable>1</repeatable>
			<url_conf>index.php?ctrl=Conf&amp;mod=widget_html_no_editor</url_conf>
		</widget>
	</widgets>
	<dependencies>
        <dependence>pagecomposer</dependence>
    </dependencies>
</module>