{% extends 'layouts/page.htm' %}
{% block content %}
	{% import "macro/form.htm" as form %}


    <div class="space50"></div>
    <div class="container-small">
		<a class="back-url" href="/login">{{tr('back_login')}}</a>
		<h4>{{tr('reset-password.new_password')}}</h4>
		<span class="errore">{{messages|raw}}</span>
		 <form class="form" method="POST">
			{{form.buildCol(dataform.password)}}
			<div class="space20"></div>
			{{form.buildCol(dataform.password_confirmation)}}
			<button type="submit"  class="btn-default">{{tr('reset-password.send')}}</button>
			{{form.build(dataform.token)}}
			<input type="hidden" name="ctrl" value="Access">
			<input type="hidden" name="action" value="reset-pwd">
		</form>
	</div>




{% endblock %}

