<?xml version="1.0"?>
<module>
  <info> 
	<author>Ciro Napolitano</author> 
    <name>Catalogo</name> 
	<permission>superadmin</permission> 
	<tag>catalogo</tag> 
	<scope></scope>
	<autoload>1</autoload>
	<version>1.4.3</version>
	<compatibility>
		<min>2.6.0</min>
	</compatibility>
	<kind>catalog</kind>
	<description>Modulo che permette la gestione di un catalogo di prodotti</description> 
  </info>
    <admin>
	  <menu>
		<items>
			<item>
				<locale>
					<name>
						<it>Catalogo</it>
						<en>Catalogo</en>
					</name>
				</locale>
				<tag>catalog</tag> 
				<icon>fa fa-archive</icon> 
				<permission>catalog</permission> 
				<priority>100</priority> 
			</item>
			<item>
				<locale>
					<name>
						<it>Prodotti</it>
						<en>Products</en>
					</name>
				</locale>
				<parent>catalog</parent>
				<tag>manage_products</tag> 
				<permission>catalog</permission> 
				<url>index.php?ctrl=Product&amp;mod=catalogo&amp;action=list</url>
				<priority>1</priority> 
			</item>
			<item>
				<locale>
					<name>
						<it>Categorie</it>
						<en>Categories</en>
					</name>
				</locale>
				<parent>catalog</parent>
				<tag>manage_sections</tag> 
				<permission>catalog</permission> 
				<url>index.php?ctrl=Category&amp;mod=catalogo&amp;action=list</url>
				<priority>2</priority> 
			</item>
			<item>
				<locale>
					<name>
						<it>Produttori</it>
						<en>Manufacturers</en>
					</name>
				</locale>
				<parent>catalog</parent>
				<tag>manufacturer</tag> 
				<permission>catalog</permission> 
				<url>index.php?ctrl=Manufacturer&amp;mod=catalogo&amp;action=list</url>
				<priority>3</priority> 
			</item>
			<item>
				<locale>
					<name>
						<it>Tags</it>
						<en>Tags</en>
					</name>
				</locale>
				<parent>catalog</parent>
				<tag>tagProduct</tag> 
				<permission>catalog</permission> 
				<url>index.php?ctrl=Tag&amp;mod=catalogo&amp;action=list</url>
				<priority>10</priority> 
			</item>
         
            <item>
				<locale>
					<name>
						<it>Attributi</it>
						<en>Attributes</en>
					</name>
				</locale>
				<parent>catalog</parent>
				<tag>manage_attributes</tag> 
				<permission>catalog</permission> 
				<url>index.php?ctrl=Attribute&amp;mod=catalogo&amp;action=list</url>
				<priority>5</priority> 
			</item>
            <item>
				<locale>
					<name>
						<it>Modelli</it>
						<en>Templates</en>
					</name>
				</locale>
				<parent>catalog</parent>
				<tag>manage_attributeSets</tag> 
				<permission>catalog</permission> 
				<url>index.php?ctrl=AttributeSet&amp;mod=catalogo&amp;action=list</url>
				<priority>5</priority> 
			</item>
            <item> 
				<locale> 
					<name>	
						<it>Catalogo</it>
						<en>Catalog</en>
					</name>
				</locale>
				<parent>setting</parent>
				<tag>setting_catalog</tag>
				<permission>catalog</permission> 
				<priority>101</priority> 
				<url>index.php?ctrl=CatalogSettingAdmin&amp;mod=catalogo</url>
			</item>
		</items>
	</menu>
  </admin>
   <permissions>
       <permission>
            <tag>catalog</tag>
            <locale>
                <name>
                    <it>Catalogo</it>
                    <en>Catalog</en>
                </name>
                <description>
                    <it>Permette la gestione della sezione catalogo</it>
                    <en>Permette la gestione della sezione catalogo</en>
                </description>
            </locale>
        </permission>
    </permissions>
	<actions>
		<action>
			<hook>action_register_twig_templates_dir</hook>
			<function>actionRegisterTwigTemplatesDir</function>
		</action>
	</actions>
	<linkSetting>
		index.php?mod=catalogo
   </linkSetting>
</module>