<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js sidebar-large lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js sidebar-large lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js sidebar-large lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js sidebar-large"> <!--<![endif]-->

<head>


{{include('@core/partials/css.htm')}}
{{include('@core/partials/javascript.htm')}}
<link href="/css/admin/animate-custom.css" rel="stylesheet">
<script src="/assets/plugins/modernizr/modernizr-2.6.2-respond-1.1.0.min.js"></script>
<title>Login</title>

 </head>

    
</head>

<body class="login fade-in" data-page="login">
    <!-- BEGIN LOGIN BOX -->
    <div class="container" id="login-block">
        <div class="row">
            <div class="col-sm-6 col-md-4 col-sm-offset-3 col-md-offset-4">
                <div class="login-box clearfix animated flipInY">
                   
                    <div class="login-logo">
                        <a href="#?login-theme-3">
                            <img src="assets/images/marionlogo.png" alt="Company Logo">
                        </a>
                    </div>
                    <hr>
                    <div class="login-form">
                        
						<div class="row">
								<div class="col-md-12" style="text-align:center;">
								
										 Non hai i privilegi per visualizzare questo contenuto<br><br>


										 <a href="#" onclick="window.history.back();" class="btn btn-default">Torna indietro</a>
								</div>
						</div>
                        <!--<div class="login-links">
                            <a href="/page/password_forgot.html">Forgot password?</a>
                            <br>
                            <a href="/admin?action=signup">Don't have an account? <strong>Sign Up</strong></a>
                        </div>-->
                    </div>
                </div>
                
            </div>
        </div>
    </div>
	{{include('@core/partials/javascript_end.htm')}}
</body>

</html>
