
<div class="footer">
	<div class="container">
		{{page_composer('footer_content','footer')}}
	</div>
</div>
<div class="sottof">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
				<p>
					&copy; 2020 Outletbrand. Tutti i diritti riservati | <a href="/p/privacy.htm">Privacy</a>
				</p>
			</div>
			<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 text-center">
				<p>powered by
					<a href="http://www.3d0.it" target="_blank" rel="nofollow" title="Web Agency">
						<img src="/themes/jewels/images/logo-3d0.png">
					</a>
				</p>
			</div>
			<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 text-right">
				<img src="/themes/jewels/images/pagamento_1.png">
			</div>
		</div>
	</div>
</div>