
 <div id="modal-editor-css" data-iziModal-fullscreen="true"  data-iziModal-title="Editor CSS"  data-iziModal-subtitle="Modifica lo stile dell'elemento"  data-iziModal-icon="icon-home"></div>
 <div id="modal-widget-export" data-iziModal-fullscreen="true"  data-iziModal-title="Esportazione widget"   data-iziModal-icon="icon-home"></div>
 <div id="modal-widget-import" data-iziModal-fullscreen="true"  data-iziModal-title="Importa widgets"   data-iziModal-icon="icon-home"></div>

	<div id="modal-widgets" class="modal fade" role="dialog">
	  <div class="modal-dialog  modal-lg">

		<!-- Modal content-->
		<div class="modal-content">
		  <div class="modal-header">
			<button type="button" class="close" data-dismiss="modal">&times;</button>
			<h4 class="modal-title">Widgets</h4>
		  </div>
		  <div class="modal-body" id="content_widgets">
			
		  </div>
		</div>

	  </div>
	</div>


	<div id="modal-widget-conf" class="modal fade" role="dialog">
	  <div class="modal-dialog  modal-lg">

		<!-- Modal content-->
		<div class="modal-content">
		  <div class="modal-header">
			<button type="button" class="close" data-dismiss="modal">&times;</button>
			<h4 class="modal-title">Configura widget</h4>
		  </div>
		  <form id="widget-conf-form">
			  <div class="modal-body" id="content_widget_conf">
				
			  </div>
			  <div class="modal-footer">
				<button type="button" id="btn-save-wiget-conf" class="btn btn-default" onclick="">SALVA MODIFICHE</button>
			  </div>
		  </form>
		</div>

	  </div>
	</div>

