{% if type_view_number %}
<div class="views">
	<a href="{{return_location_view}}number_view=2"><img src="themes/jewels/images/ico_adue{% if type_view_number == 2 %}_active{% endif %}.png"></a> 
	<a href="{{return_location_view}}number_view=3"><img src="themes/jewels/images/ico_atre{% if type_view_number == 3 %}_active{% endif %}.png"></a>
	<a href="{{return_location_view}}number_view=4"><img src="themes/jewels/images/ico_aquattro{% if type_view_number == 4 %}_active{% endif %}.png"></a>
	
</div>
 {% endif %}
