/* CSS Document */
	body{
		
		width:100%;
		margin:0;
		padding:0;
		font-size:20px;		
		font-family: 'Open Sans', sans-serif;
		overflow-x:hidden;
	}
	.row {
		margin-right: 0;
		margin-left: 0;
	}
	.col-md-3 {		
		padding:0;
	}
	.col-md-9 {
		
		padding: 0;
	}
	.nav-tabs {
		border-bottom: 1px solid #ddd;
		padding: 0 !important;
	}
	.nav-stacked li {
		float: none !important;
		width: 100% !important;
		background: #f2f2f2;
		color: #000 !important;
	}
	.nav-tabs>li>a:hover {
		border-color: #eee #eee #ddd;
		color: #323232;
	}
	.wrapper{
		width:100%;
		margin:0;
		padding:0;
		background:#D7D7DE;
		
	}
	.conteiner{
		width:85%;
		margin:0 auto;	
		height:auto;
		display:block;
	}
	.top{	
		width:100%;
		height:119px;
		background:#102A52;
		margin:0;
		padding:0;
	
	}
	.topinfo {
		width: 100%;
		height: 30px;
		background: transparent;
		margin: 0;
		padding: 0.3% 0.8%;
		display: block;
	}
	.menuinfo{
		float: right;
		display: block;
		padding: 0 0 0 41%;
		margin: 0;
		width:100%;
	}
	li.esci.transi {
		width: 9%;
		padding:0;
	}
	.menuinfo ul {
		color: #fff;
		display: block;
		float: left;
		width: 100%;
		height: 19px;
		padding: 0;
		margin: 0;
	}
	.menuinfo ul li {
		color: #BCC3CF;
		display: block;
		font-size: 12px;
		float: left;
		padding: 0px 3%;
		width: 25%;
		margin: 0;
		/* text-align: center; */
	}
	.menuinfo ul li img {
		float: left;
		margin: 3%;
	}
	.menuinfo ul li a{ 
		color:#BCC3CF;
		display:block;
		font-size:12px;	
		cursor:pointer;
	}
	.menuinfo ul li a:hover{ 
		color:#BCC3CF;
		display:block;
		font-size:12px;	
	}
	.topmenu {
		width: 100%;
		height: 90px;
		background: #FFFFFF;
		padding: 0 0.2%;
	}/*
	.logo {
		width: 20%;
		height: 73px;
		background:url('/img/steva/logo.png');
		background-repeat:no-repeat;
		float: left;
		display: block;
		cursor: pointer;
	}*/
	.logo {
		width: 20%;
		height: 73px;
		background: url('/img/steva/logo.png');
		background-repeat: no-repeat;
		float: left;
		display: block;
		cursor: pointer;
		background-size: 77%;
		background-position: 38% 100%;
	}/*
	.menu {
		width: 70%;
		height: 88px;
		float: left;
		padding: 0;
		margin: 0;
	}*/
	.menu {
		width: 70%;
		height: 88px;
		float: left;
		padding: 0 0 0 11%;
		margin: 0;
	}
	.menu ul {
		width: 100%;
		height: 90px;
		display: block;
		margin: 0;
		padding:0;
	}/*
	.menu ul li {
		width: 20%;
		height: 87px;
		float: left;
		padding: 2% 0;
		margin: 0;
		text-align: center;
		list-style: none;
		cursor:pointer;
	}*/
	.menu ul li {
		width: 20%;
		height: 87px;
		float: left;
		padding: 2% 0;
		margin: 0;
		text-align: center;
		list-style: none;
		cursor: pointer;
	}
	.menu ul li:hover {
		width: 20%;
		height:91px;
		float: left;
		padding: 2% 0;
		margin: 0;
		text-align: center;
		list-style: none;
		border-bottom:4px solid #DB591F;
	}
	.menu ul li a  {
		font-size:17px;
		color:#4D4C4D;
		text-transform:uppercase;
		text-decoration:none;
		cursor:pointer;
	}
	.menu ul li a:hover  {
		font-size:17px;
		color:#DB591F;
		
	}
	.cerca {
		width: 10%;
		float: left;
		height: 90px;
		padding: 0.9% 0;
	}
	
	input[type=search] {
		-webkit-appearance: textfield;
		-webkit-box-sizing: content-box;
		font-family: inherit;
		font-size: 100%;
	}
	
	input::-webkit-search-decoration,
	input::-webkit-search-cancel-button {
		display: none; 
	}
	
	input[type=search] {
		background: url('/img/steva/icone/search_icon.png') no-repeat 9px center;
		padding: 9px 10px 9px 32px;
		width: 55px;
		-webkit-border-radius: 10em;
		-moz-border-radius: 10em;
		border-radius: 10em;
		-webkit-transition: all .5s;
		-moz-transition: all .5s;
		transition: all .5s;
		box-shadow: none;
		border: none;
	}
	input[type=search]:focus {
		width: 130px;
		background-color: #fff;
		border-color:1px solid #66CC75;
		webkit-box-shadow: 0 0 5px rgba(109,207,246,.5);
		-moz-box-shadow: 0 0 5px rgba(109,207,246,.5);
		box-shadow: 0 0 5px rgba(109,207,246,.5);
	}
	#demo-2 input[type=search] {
		width: 21%;
		padding-left: 10px;
		color: transparent;
		cursor: pointer;
	}
	#demo-2 input[type=search]:hover {
		background-color: #fff;
	}
	#demo-2 input[type="search"]:focus {
		width: 130px;
		padding-left: 40px;
		color: #000;
		background-color: #fff;
		cursor: auto;
	}
	#demo-2 input:-moz-placeholder {
		color: transparent;
	}
	#demo-2 input::-webkit-input-placeholder {
		color: transparent;
	}
	.slide{
		width:100%;
		height:auto;
		display:block;		
		
	}	
	a.scheda_slide {
		position: absolute;
		width: 100%;
		top: 66%;
		left: 18%;
		color: #DB591F;
		text-decoration: underline !important;
		cursor: pointer;
	}
	a.scheda_slide .fa {
		display: inline-block;
		font: normal normal normal 14px/1 FontAwesome;
		font-size: inherit;
		text-rendering: auto;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}
	a.scheda_slide .fa:hover {
		display: inline-block;
		font: normal normal normal 14px/1 FontAwesome;
		font-size: inherit;
		text-rendering: auto;
		-webkit-font-smoothing: antialiased;
		text-decoration: inherit;
		-moz-osx-font-smoothing: grayscale;
	}
	.carousel-inner {
		position: relative;
		width: 100%;
		overflow: hidden;
		height: 447px;
	}
	
	.carousel-control.left {
		/*background: rgba(215,215,215,0.9);*/
		background:none;
		padding: 10% 0;
		width: 8%;
	}
	.carousel-control.right{
		/*background: rgba(215,215,215,0.9);*/
		background:none;
		padding: 10% 0;
		width: 8%;

	}
	/*
	.carousel-indicators {
		position: absolute;
		bottom: 0px;
		left: 0;
		z-index: 15;
		width:48.33%;
		padding-left: 0;
		margin-left: 0;
		text-align: center;
		list-style: none;
	}*/
	.carousel-indicators {
		position: absolute;
		bottom: 51px;
		left: 0;
		z-index: 15;
		width: 48.33%;
		padding-left: 0;
		margin-left: 0;
		text-align: center;
		list-style: none;
	}

	.carousel-indicators li {
		display: inline-block;
		width: 77px;
		height: 4px;
		margin: 1px;
		text-indent: -999px;
		cursor: pointer;
		background-color:#999999;
		border: 1px solid #999999;
		border-radius: 10px;
	}
	.carousel-indicators .active {
		width:77px;
		height: 4px;
		margin: 0;
		background-color: #DB591F;
		border: 1px solid #DB591F;
	}
	.bottone_offerte {
		width: 8%;
		position: absolute;
		background: #DB591F;
		border-radius: 30px;
		text-align: center;
		top: 10%;
		left: 17.5%;
	}
	.bottone_offerte a {
		color: #fff;
	}
	.vantaggi {
		width: 100%;
		height: auto;
		min-height: 618px;
		padding: 4% 0;
	}
	h2, .h2 {
		font-size: 30px;
		margin: 0 3% 3% !important;
		font-weight: 600;
	}
	.box_vantaggi {
		width: 100%;
		height: auto;
		min-height: 223px;
		display: block;
		padding: 0;
		margin: 0 0 41px 0;
	}
	.bo1 {
		width: 20%;
		float: left;
		padding: 0 3% ;
	}
	.pallino {
		width: 106px;
		height: 106px;
		border: 1px solid #102A52;
		background: #102A52;
		border-radius: 80px;
		margin: 0 auto 14%;
		/*padding:12%;*/
		padding:9%;
	}
	.bo1 p {
		color: #102A52;
		font-size: 20px;
		line-height: 24px;
	}
	p span {
		color: #DB591F;
		font-weight: 900;
		font-size: 20px;
	}
	.bottone {
		width: 20%;
		margin: 35px auto 61px;
		padding: 1%;
		text-align: center;
		border: 2px solid #DB591F;
		cursor: pointer;
	}
	.bottone a{
		text-tramsfor:uppercase;
		font-size:19px;
		text-align:center;
		color:#DB591F;
	}
	.col33 {
		width: 33%;
		height: 85px;
		float: left;
		display:block;
	}
	.box2, .box3, .box4 {
		width: 99%;
		height: 85px;
		margin: 0 1%;
		background: #F0F0F2;
		text-align: center;
		padding: 8% 0;
	}
	.box2{
		background: #F0F0F2 url('/img/steva/icone/noleggio_icon.png') no-repeat 23%;
		-webkit-transition: all .3s ease-in;
		-moz-transition: all .3s ease-in;
		-ms-transition: all .3s ease-in;
		-o-transition: all .3s ease-in;
		transition: all .3s ease-in;

	}
	.box2:hover {
		background: #F0F0F2 url('/img/steva/icone/noleggio_hover_icon.png') no-repeat 23%;
	}
	.box3{ 
		background: #F0F0F2 url('/img/steva/icone/montaggio_icon.png') no-repeat 23%;
		-webkit-transition: all .3s ease-in;
		-moz-transition: all .3s ease-in;
		-ms-transition: all .3s ease-in;
		-o-transition: all .3s ease-in;
		transition: all .3s ease-in;
	}
	.box3:hover {
		background: #F0F0F2 url('/img/steva/icone/montaggio_hover_icon.png') no-repeat 23%;
	}
	.box4{
		background: #F0F0F2 url('/img/steva/icone/assistenza_icon.png') no-repeat 23%;
		-webkit-transition: all .3s ease-in;
		-moz-transition: all .3s ease-in;
		-ms-transition: all .3s ease-in;
		-o-transition: all .3s ease-in;
		transition: all .3s ease-in;
	}
	.box4:hover {
		background: #F0F0F2 url('/img/steva/icone/assistenza_hover_icon.png') no-repeat 23%;
	}
	.box2:hover, .box3:hover , .box4:hover {
		width: 99%;
		height: 85px;
		margin: 0 1%;
		text-align: center;
		padding: 5% 0;
	}
	.box2 a {		
		color: #999;
		font-size:22px		
	}
	.box3 a{		
		color: #999;	
		font-size:22px	
	}
	.box4 a {		
		color: #999;
		font-size:22px		
	}
	.box2 a:hover {		
		color: #4D4D4D;	
		text-decoration:none;	
	}
	.box3 a:hover{		
		color: #4D4D4D;	
		text-decoration:none;	
	}
	 .box4 a:hover {		
		color: #4D4D4D;	
		text-decoration:none;	
	}
	.loghi{
		width:100%;
		height:117px;
		background:#FFFFFF;
				
	}
	.footer{
		background:#102A52;
		width:100%;
		height:auto;
	}
	.menuf {
		width: 100%;
		margin: 0 -62px 0;
	}
	.footer .spazio {
		width: 100%;
		/*height: 35px;
		min-height: 35px;*/
		height: 12px !important;
		min-height: 12px !important;
	}
	.menuf a:focus, .menuf a:hover {
		color: #DB591F;
		text-decoration: underline;
	}
	/*
	.menuf {
		padding: 0 2%;
	}*/
	.menuf p {
		text-align: center;
	}
	.row ul {
		width: 100%;
		padding: 6% 0;
	}
	.row ul li {
		float: left;
		width: 16%;
		color: #fff;
		list-style: none;
		text-align: center;
	}
	.row ul li a {
		color: #fff;
		font-size: 15px;
		text-decoration: none;
		text-transform: uppercase;
		box-shadow: none;
		cursor: pointer;
	}
	ul {
		width: 100%;
		display: block;
		padding: 1.5% 0 0;
		margin: 0;
	}
	.loghi ul li {
		width: 17%;
		height: 57px;
		float: left;
		margin: 0 0 0 2%;
		padding: 0;
		list-style: none;
		text-align: center;
	}
	.logofooter {
		width: 100%;
		height: auto;
		/*padding: 36px 32px;*/
		padding:15px 0 13px;
		min-height: 24px;
		margin: 0;
	}
	p a {
		color: #fff;
		text-transform: uppercase;
		cursor: pointer;
		font-size: 17px;
	}
	.datisoc{
		width:100%;
		height:auto;
		padding:0 4%;
		margin:0;
	}
	.datisoc p {
		color: #BCC3CF;
		font-size: 12px;		
	}
	.logo3d0 {
		width: 100%;
		height: auto;
		text-align: right;
		display: block;
		padding:0 3% 0 0;
	}
	/*perche sceglierci*/
	.titolo {
		width: 100%;
		text-align: center;
		padding: 31px 0;
		margin: 0;
	}
	.titolo h2 {
		color: #000;
		font-size: 30px;
		font-weight: 600;
		margin-bottom: 22px !important;
	}
	.titolo p {
		color: #808080;
		width: 71%;
		margin: 0 auto 45px;
	}
	#scegliere .pallino {
		width: 106px;
		height: 106px;
		border: 1px solid #102A52;
		background: #102A52;
		border-radius: 80px;
		margin: 0 auto 14%;
		padding: 7%;
	}
	#scegliere .bo1 p {
		color: #102A52;
		font-size: 22px;
		line-height: 24px;
		font-weight:600;
		text-align: center;
	}
	#scegliere .box_vantaggi {
		width: 100%;
		height: auto;
		min-height: 264px;
		display: block;
		padding: 0;
		margin: 0 0 0 0;
	}
	#scegliere h3 {
		color: #DB591F;
		text-align: center;
		text-transform: uppercase;
		margin-bottom: 36px;
		font-weight:600;
	}
	/*#scegliere .spazio {
		height: 130px;
		min-height: 130px;
		width: 100%;
		background: #fff;

	}*
	/*servizi*/
	.servizi {
		width: 100%;
		height: auto;
		padding: 60px 0;
		text-align: center;
	}
	.servizio {
		width: 100%;
		text-align: center;
	}
	h3.titolo {
		height: 52px;
		/*min-height: 85px;*/
		min-height: 67px;
		text-align: center;
		text-transform: uppercase;
		font-size: 30px;
		font-weight: 600;
	}
	.titolo img {
		margin: 0 9px 0 0;
	}
	.servizi p {
		color: #173C75;
		font-weight: 600;
		font-size: 18px;
		text-transform: uppercase;
		height: 50px;
		min-height: 62px;
	}
	.servizi .spazio{
		height:35px;
		background:transparent;
	}
	/*pagina catalogo*/
	/*filtro*/
	.hida {
		color: #1A1A1A;
	}
	.bottonefilto dd, .bottonefilto dt {
    margin: 0px;
    padding: 0px;
    z-index: 999;
}
	.bottonefilto ul {
	  margin: -20px 0 0 0;
	}
	.bottonefilto dd {
	  position: relative;
	}
	.bottonefilto a, .bottonefilto a:visited {
	  color:#1A1A1A;
	  text-decoration: none;
	  outline: none;
	  font-size: 12px;
	}
	.bottonefilto dt a {
	  line-height: 24px;
	  overflow: hidden;
	  border: 0;
	  width:100%;
	}
	.bottonefilto dt a span, .multiSel span {
		cursor: pointer;
		display: inline-block;
		padding: 0 3px 2px 15px;
		font-weight: 700;
		font-size: 14px;
	}
	.multiSel {
		width: 100%;
		height: auto;
		display: block;
	}
	.multiSelect {
		width: 100% !important;
		height: auto !important;
		display: block;
		padding: 14px !important;
	}
	.bottonefilto dd ul {
		background-color: #F2F2F2;
		border: 0;
		color: #1A1A1A;
		display: none;
		left: 0px;
		position: absolute;
		text-align: left;
		width: 100%;
		list-style: none;
		height: auto;
		overflow: auto;
		padding: 14px;
	}
	.multiSelect li {
		width: 100% !important;
		text-align: left !important;
		float: none !important;
		clear: both;
		color: #1A1A1A !important;
	}

	.bottonefilto span.value {
	  display: none;
	}
	.bottonefilto dd ul li a {
	  padding: 5px;
	  display: block;
	}
	.bottonefilto dd ul li a:hover {
	  background-color: #fff;
	}
	.hida {
		color: 
	}	

	.multiSelect input {
		margin: 4px 4px 0;
	}
	#mySearch2 {
		width: 100%;
		margin: 7px 0;
		background: url('/img/steva/icone/search_brand_icon.png') no-repeat 90%;
	}
	#mySearch2:focus {
		 background: #fff;
	}
	
	button {
	  background-color: #DB591F;
	 /* width:50%;*/
	  border: 0;
	  padding: 10px 0;
	  margin: 5px 0;
	  text-align: center;
	  color: #fff;
	  font-weight: bold;
	  cursor:pointer
	}
	/**/
	.bottonefilto select{
		-webkit-appearance: none;
		-moz-appearance: none;
		-ms-appearance: none;
		-o-appearance: none;
		
	}
	.bottonefilto select option	{
		text-align:left !important;
	}
	#vedi_prodotto .box_catalogo {
		width: 100%;
		height: auto;
		background: #fff;
		margin: 19px 0;
		min-height: 474px;
		position:relative;
	}
	.box_catalogo {
		width: 100%;
		height: auto;
		background: #fff;
		margin: 19px 0;
		min-height: 783px;
		position:relative;
	}
	.pager-dx {
		width: 50%;
		right: 28px;
		text-align: right;
		font-size: 12px;
		position: absolute;
		bottom: 0;
	}
	.categoria {
		width: 100%;
		border-right: 1px solid #F0F0F2;
		height: auto;
		padding:1.5%;
		
	}
	.categoria h4 {
		color: #173C75;
		font-size: 15px;
		font-weight: 900;
		text-align: left;
		text-transform: uppercase;
		padding:1.5%;
	}
	.sidebar-nav ul a {
		padding: 11px 0px 10px 0px !important;
		color: #aaa;
		border-top: 1px solid rgba(0, 0, 0, 0.3);
		box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.05) inset;
		text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.5);
	}
	.sidebar-nav ul li, .sidebar-nav ul a {
		display: block;
		width: 100%;
		text-align: left;
		font-weight:600;
	}	
	.sidebar-nav ul ul a {
		padding: 10px 10px !important;
		background-color: rgba(255, 255, 255, 0.1);
		color: #DB591F;
		text-shadow: none;
		text-align: left;
		padding: 10px 5px !important;
	}
	.sidebar-nav {
		border-bottom: 1px solid #F0F0F2 !important;
		background-image: linear-gradient(to right, #333333 10px, #222222 10px);
		background-repeat: repeat-x;
		filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ff333333', endColorstr='#ff222222', GradientType=1);
	}
	.metismenu .arrow {
		float: right;
		line-height: 1.42857;
		color: #DB591F;
	}
	.sidebar-nav-item {
		padding-left: 5px;
		color: #4D4C4D;
		text-align: left;
		box-shadow: none;
	}
	#menu li.active ul li a span {
		color: #DB591F;
		padding: 10px 0px !important;
	}
	.box_tuttiprodotti {
		width: 100%;
		height: auto;
		padding:0;
	}
	.infopagina {
		width: 100%;
		height: 50px;
		display: block;
		padding: 0.5%;
		border: 1px solid #f2f2f2;
	}
	.infopagina h4 span {
		color: #DB591F;
		font-size: 11px;
		font-weight: 900;
		text-transform: uppercase;
	}
	.infopagina h4 {
		color: #999999;
		font-size: 11px;
		font-weight: 900;
		text-transform: uppercase;
		margin: 15px;
	}
	.filtri {
		width: 100%;
		height: 42px;
		padding: 0 0 0 16%;
	}	
	.filtro {
		width: 33.33%;
		height: 42px;
		float: left;
		border: 1px solid #f2f2f2;
		cursor: pointer;
		padding: 1% 0;
		background: url('/img/steva/icone/brand_icon.png') no-repeat 89%;
	}
	.filtro:hover {
		background: #f2f2f2  url('/img/steva/icone/brand_icon.png') no-repeat 89%;
	}
	.filtro:focus {
		background: #f2f2f2  url('/img/steva/icone/brand_icon.png') no-repeat 89%;
	}
	.filtro:active {
		background: #f2f2f2  url('/img/steva/icone/brand_icon.png') no-repeat 89%;
	}
	.bottonefilto {
		width: 100%;
		text-align: left;
		padding:0;
		font-size: 14px;
		font-weight: 600;
		cursor:pointer;
	}
	.bottonefilto select {
		width: 100%;
		font-size: 14px;
		font-weight: 700;
		border: none;
		background: transparent;
		text-align: center;		
		padding: 0 18px;;				
	}	
	.prodotti {
		width: 100%;
		padding: 27px;
		height: auto;
		display: block;
	}
	.imagine {
		/*width: 57%;*/
		width:36%;
		padding: 7% 0;
		margin: 0 auto;
		text-align: center;
		height: 143px;
	}
	.titoloprodotto {
		width: 100%;
		height: auto;
		border-bottom: 1px solid #f2f2f2;
		text-align: center;
	}
	.titoloprodotto h4 {
		font-size: 22px;
		color: #000;
		text-transform: uppercase;
		font-weight: 600;
	}
	.caption h4 {
		white-space: nowrap;
		padding: 0;
		margin: 0;
	}
	.titoloprodotto h4 a {
		font-size: 22px;
		color: #000;
		text-transform: uppercase;
		font-weight: 600;
	}
	.vedischeda {
		background: #102A52;
		border: 3px solid #102A52;
		width: 100%;
		padding: 0% 17.9%;
		cursor: pointer;
		color: #fff;
		text-transform: uppercase;
		text-align: center;
	}
	.vedischeda:hover {
		background: #DB591F;
		border: 3px solid #DB591F;
		text-decoration:none;
	}
	.vedischeda a {
		color: #fff;
	}
	.vedischeda a:hover {
		text-decoration:none;
	}
	.thumbnail .caption {
		padding: 0;
		color: #333;
		border-top: 1px solid #f2f2f2;
		height: 89px;
	}
	.col-xs-6 {
		float: left;
		display: block;
		padding: 0;
		margin: 0;
	}
	.specificoprezzo {
		width: 100%;
		height: 42px;
		border: 1px solid #f2f2f2;
		text-align: center;
		padding: 4% 0 0;
	}
	.specificoprezzo p {
		color: #4D4D4D;
		font-size: 22px;
		font-weight: 600;
	}
	.prezzo {
		width: 100%;
		height: 42px;
		background: #F0F0F2;
		padding: 4% 22%;
		margin: 0;
		text-align: center !important;
	}

	.caption h4 {
		white-space: nowrap;
		padding: 0;
		margin: 0;
		text-align: center;
		color: #808080;
		font-size: 22px;
		font-weight: 600;
	}
	.thumbnail {
		display: block;
		padding: 4px;
		margin-bottom: 20px;
		margin-right: 19px;
		line-height: 1.42857143;
		background-color: #fff;
		border: 1px solid #ddd;
		border-radius: 0;
		-webkit-transition: border .2s ease-in-out;
		-o-transition: border .2s ease-in-out;
		transition: border .2s ease-in-out;
	}
	/*pagina vedi_prodotto*/
	.navigazione {
		width: 100%;
		text-align: right;
	}
	.navigazione a {
		color: #999999;
		padding: 0 0 0 0.5%;
		cursor:pointer;
	}/*
	.thumbnail img {
		width: auto !important;
	}*/
	#vedi_prodotto .thumbnail .caption-full {
		padding: 24px 0;
		color: #333;
	}
	#vedi_prodotto .thumbnail {
		display: block;
		/*padding: 4px 63px;*/
		padding:4px 63px 4px 0;
		margin-bottom: 43px;
		margin-right: 19px;
		line-height: 1.42857143;
		background-color: #fff;
		border: none;
		border-radius: 0;
		-webkit-transition: border .2s ease-in-out;
		-o-transition: border .2s ease-in-out;
		transition: border .2s ease-in-out;
		width: 100%;
		height: auto;
	}
	.imagine_vedi_prodotto {
		width: 100%;
		float: left;
		padding:52px 0;
	}
	#vedi_prodotto .titoloprodotto {
		width: 100%;
		height: auto;
		border-bottom: none;
		text-align: left;
	}
	h5 {
		font-size: 21px;
		color: #999;
		text-align: left;
		font-weight: 400;
	}
	h5 span {
		color: #DB591F;
		font-size: 18px;
		font-weight: 400;
	}
	h1 {
		font-size: 33px;
		text-align: left;
		color: #000;
		font-weight: 600;
		text-transform: uppercase;
	}
	.descrizione {
		width: 100%;
		text-align: left;
	}
	.descrizione h6{
		font-size:14px;
		color:#1A1A1A;
		font-weight:600;
	}
	.descrizione p {
		font-size: 15px;
		color: #808080;
	}
	.info_prodotto_prezzo {
		width: 100%;
		height: 48px;
		display: block;
	}
	#vedi_prodotto .colonnasx {
		width: 100%;
		height:35px;
		float: left;
		display: block;
		padding: 0 1.33%;
	}
	.colonnadx {
		width: 100%;
		height: 35px;
		padding: 0 1.33%;
		float: left;
		display: block;
	}
	.bottone_prodotto {
		width: 100%;
		height: 35px;
		border: 1px solid #333333;
		text-align: center;
		padding: 0px 17px;
		cursor: pointer;
	}
	.bottone_prodotto:hover {	
		border: 1px solid #CCCCCC;
		background:#CCCCCC;		
	}
	.bottone_prodotto a {
		color: #333333;
		font-size: 13px;
		text-decoration:none;
		font-weight:700;
		cursor:pointer;
	}
	.bottone_prodotto a:hover {
		color: #FFFFFF;
		font-size: 13px;
	}
	#vedi_prodotto .specificoprezzo {
		width: 100%;
		height: 35px;
		border: 1px solid #DB591F;
		text-align: center;
		padding: 6px 15px;
	}
	#vedi_prodotto .specificoprezzo p {
		color: #DB591F;
		font-size: 17px;
		font-weight: 600;
	}
	.specificoprezzo2 {
		width: 100%;
		height: 35px;
		background: #DB591F;
		text-align: center;
		padding:0;
		display:block;
	}
	.specificoprezzo2 h4.pull-right {
		color: #fff;
		text-align: center;
		font-size: 17px;
		margin: 0;
		line-height: 0;
		padding: 18px 21px;
	}
	h6 {
		font-size: 14px;
		color: #DB591F;
		font-weight: 600;
		margin-bottom: 18px;
	}
	.spazio1 {
		width: 100%;
		height: 91px;
		min-height: 135px;
	}
	/*pagina contatti*/

	.mappa {
		width: 100%;
		height: 377px;
		margin: 30px 0 38px;
	}
	.form {
		width: 100%;
		height: auto;
		display: block;
		margin: 0 -15px;
		padding:37px 0 53px;
	}
	.contact_form {
		width: 100%;
		margin: 0 -15px;
		float: left;
		/* display: block; */
	}
	/*label {
		display: block;
		width: 34%;
		font-weight: 400;
		float: left;
		font-size: 17px;
		color: #002e38;
		padding: 0;
		margin: 0 0 5px 0;
	}
	.controls {
		width: 66%;
		float: left;
	} */
	#div_Indirizzo label{
		width:16%;
	}
	#div_Indirizzo .controls {
		width: 84%;
		float: left;
	}
	#div_email label{
		width:16%;
	}
	#div_email .controls {
		width: 84%;
		float: left;
	}
	.messaggio {
		width: 100%;
		height: auto;
		display: block;
		margin: -34px 0;
	}
	.messaggio p {
		font-size: 17px;
		color: #002E38;
		font-weight: 400;
	}
	textarea {
		width: 100%;
		height: auto;
		max-height: 141px;
	}
	.captcha {
		width: 100%;
		height: auto;
		margin: 12px 0;
		padding: 0;
		display: block;
	}
	div#img_captcha {
		width: 20%;
		height:auto;
		float: left;
		margin: 0 1.33% 0;
	}
	#img_captcha img {
		width: 100%;
	}	
	.captcha .controls {
		width: 35%;
	}
	.captcha input.form-control {
		width: 91%;
	}
	.controls a {
		color: #002E38;
		font-size: 13px !important;
		margin: 0 4px;
	}
	.captcha a {
		color: #002E38;
		font-size: 14px;
		margin: 0 4px;
	}
	.privacy {
		width: 100%;
		padding: 0.5% 0;
	}
	.form-group {
		margin-bottom: 22px;
	}
	.form-control {
		display: block;
		width: 100%;
		height: 33px;
		padding: 6px 12px;
		font-size: 14px;
		line-height: 1.42857143;
		color: #555;
		background-color: #fff;
		background-image: none;
		border: 1px solid #ccc;
		border-radius: 4px;
		-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
		box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
		-webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
		-o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
		transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	}
	/*.btn-default {
		color: #fff;
		background-color: #DB591F;
		border-color: #DB591F;
		width: 148px;
		height: 50px;
		text-transform: uppercase;
		font-size: 17px;
		font-weight: 600;
		cursor:pointer;
	}
	.btn-default:hover {
		color: #fff;
		background-color: #102A52;
		border-color: #102A52;
	}
	/*privacy*/
	.box_privacy{
		background: #fff;
		padding: 1.3%;
		margin: 1.3% 0;
	}
	.space {
		width: 100%;
		height: 155px;
	}

	/*login*/
	#login .btn-default {
		color: #fff;
		background-color: #DB591F;
		border-color: #DB591F;
		width: 148px;
		height: 35px;
		text-transform: uppercase;
		font-size: 17px;
		font-weight: 600;
		cursor: pointer;
	}
    #login .controls {
		width: 96%;
		float: left;
	}
	.container {
		padding: 2%;
	}
	/*grazie_contatti*/
	.boxbianco {
		width: 100%;
		height: auto;
		padding: 50px 12px;
		MARGIN: 2% 0;
		background: #FFF;
	}
	#template .spazio{
	    width: 100%;
		height: 215px;	
	}
	#vedi_prodotto .spazio {
		width: 100%;
		height: 12px;
		min-height: 12px;
	}

/*carrello
.immagine_car {
    width: 100%;
    padding: 14% 0;
    height: auto;
}
.pad50 .btn-default {
    color: #fff;
    background-color: #DB591F;
    border-color: #DB591F;
    width: 148px;
    height: 50px;
    text-transform: uppercase;
    font-size: 17px;
    font-weight: 600;
    cursor: pointer;
    margin: -23px 0;
}
.btn-group > .btn:first-child:not(:last-child):not(.dropdown-toggle) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    font-size: 12px;
	width: 21%;
    margin: 0 2% 2% 0;
}
/*.btn-group > .btn:last-child:not(:first-child), .btn-group > .dropdown-toggle:not(:first-child) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
	font-size: 12px;
	width: 21%;
    margin: 0 2% 2% 0;
}	   
.pull-right .btn-default {
    color: #fff;
    background-color: #DB591F;
    border-color: #DB591F;
    width: 122px;
    height: 38px;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
}
#cart_datauser #div_email label {
    width: 33%;
}
#cart_datauser #div_email .controls {
    width: 67%;
    float: left;
}
.btn-group, .btn-group-vertical {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    text-align: left;
}
/*
.btn-group > .btn:not(:first-child):not(:last-child):not(.dropdown-toggle) {
    border-radius: 0;
	font-size: 12px;
    width: 21%;
    margin: 0 2% 2% 0;
}

table {
    border-spacing: 0;
    border-collapse: collapse;
    font-size: 14px;
}
#cart_datauser .form-group {
    margin-bottom: 22px;
    font-size: 12px;
}
.wizard a {
    padding: 10px 12px 10px;
    margin-right: 0 !important;
    background: #efefef;
    position: relative;
    display: inline-block;
    width: 33%;
    text-decoration: none;
    color: #222;
}
.wizard .current {
    background: #DB591F !important;
    color: #fff;
}
.wizard .current::after {
    
	border-left-color: #DB591F !important;
    
}
.wizard .current::before {
    
	border-left-color: #DB591F !important;
    
}
.badge {
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background-color: #DB591F;
    border-radius: 10px;
}
.btn {
    display: inline-block;
    padding: 9px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
.btn-info {
    color: #fff;
    background-color: #102A52;
    border-color: #46b8da;
}
button.confirm{
	background:#DB591F !Important;
}/*
#vedi_prodotto > div.sweet-alert.showSweetAlert.visible > div.sa-button-container > button{
	width:50%;
}
body > div.sweet-alert.showSweetAlert.visible > div.sa-button-container > button{
	width:50%;
}*/

 /*
.radiocolor input[type="radio"] {
	display: none;
}

.radiocolor input[type="radio"] + label {
	border: 1px solid #000;
	float: left;
	margin-right: 10px;
	position: relative;
	cursor:pointer;
	transition:0.3s all ease-in;
	padding:5px;
	text-align:center;
}

.radiocolor input[type="radio"]:checked + label {
	background:#DB591F;
	color:#fff;
	border: 1px solid #DB591F;
}

.label_attribute{
	width: 16% !important;

}


.not_aviable{
	opacity: 0.3;
}		   */